.profile_page{
    box-sizing: border-box;
}

.titleimage {
    width: 100%;
    text-align: center;
}
.titleimage img {
    width: 70%;
    margin: 15px 0px;
}


/* Navigation bar design css */

.navbar_new {
    height: 20px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0B1727;
    padding: 20px;
}

.nav_new_menu > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 10px;
    margin-top: 10px;
}

.nav_new_menu> ul > li > a{
    text-decoration: none;
    color: azure;
}
.nav_new_menu > ul > li {
    list-style: none;
}
.nav_new_menu > ul > li> a:hover {
    color: rgba(240, 255, 255, 0.613);
}

.nav_user_info > ul {
    display: flex;
    gap: 0px 10px;
    margin-top: 10px;
    margin-right: 50px;
}

.nav_user_info > ul > li {
    list-style: none;
}

.nav_user_info> ul > li > a{
    text-decoration: none;
    color: azure;
}
.nav_user_info > ul > li> a:hover {
    color: rgba(240, 255, 255, 0.613);
}