.profile_page{
    box-sizing: border-box;
}

.titleimage {
    width: 100%;
    text-align: center;
}
.titleimage img {
    width: 70%;
    margin: 15px 0px;
}

/* Navigation bar design css */

.navbar_new {
    height: 20px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0B1727;
    padding: 20px;
}

.nav_new_menu > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 10px;
    margin-top: 10px;
}

.nav_new_menu> ul > li > a{
    text-decoration: none;
    color: azure;
}
.nav_new_menu > ul > li {
    list-style: none;
}
.nav_new_menu > ul > li> a:hover {
    color: rgba(240, 255, 255, 0.613);
}

.nav_user_info > ul {
    display: flex;
    gap: 0px 10px;
    margin-top: 10px;
    margin-right: 50px;
}

.nav_user_info > ul > li {
    list-style: none;
}

.nav_user_info> ul > li > a{
    text-decoration: none;
    color: azure;
}
.nav_user_info > ul > li> a:hover {
    color: rgba(240, 255, 255, 0.613);
}

/************************* user profile css ***********************/

.your_profile {
    text-align: center;
}

.your_profile > p {
    font-size: 50px;
    font-weight: bold;
}

.user_img_text{
    display: flex;
    flex-direction: row;
    margin: 20px 20px;
    /* border: 5px solid #EFA36D; */
    padding: 20px;
    gap: 0px 20px;
    position: relative;
   
}

.user_img{
    flex: 3;
}

.user_img > img{
    width: 100%;
}

.user_text{
    display: flex;
    flex-direction: column;
    gap: 10px 0px;
    flex: 7;
}

.user_text_name{
    font-size: 70px;
    font-weight: 600;
}

.user_text_desg{
    font-size: 40px;
    font-weight: 400;
}

.user_text_email{
    font-size: 20px;
    margin-top: 10px;
}

.user_edit_profile{
    position: absolute;
    top: 10px;
    right: 10px;
}
.user_edit_profile> button{
    border: none;
    background-color: rgb(100, 100, 247);
    color: azure;
    padding: 10px 14px;
    border-radius: 5px;
}

.footer {
    width: 100vw;
    box-sizing: content-box;
    /* background-color: #282a35; */
    background-color: #0b1727;
    color: #ffffffc5;
    padding-top: 10px;
    font-family: "Source Sans Pro", sans-serif;
  
    margin-top: 10px;
}

