body{
    height: 650px;
    background-image: url("images/7.jpg");
    background-repeat: no-repeat;
}
.wrapper
{
    width: 400px;
    height: 400px;
    margin:100px auto;
    background-color: #7dbb5c;
    opacity: .8;
    color: white;
    padding: 27px 15px;
}
.form-control
{
    width: 300px;
}